.container {
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5rem;
}

.error {
  display: grid;
  place-items: center;
  width: 90vw;
  height: 90vh;
  box-shadow: inset -4px -4px 7px rgba(130, 130, 130, 0.25), inset 4px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.error h1{
  text-align: center;
  font-size: 7rem;
  font-weight: 400;
  color: #3D3D3D;
}
@media screen and (max-width: 1000px) {
  .error h1{
    font-size: 4rem;
  }
  
}